<!-- Modal de confirmação de exclusão -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'excluir_animal' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Tem certeza de que deseja excluir <strong><span id="deleteAnimalNome"></span></strong>?</p>
                    <input type="hidden" name="animal_id" id="deleteAnimalId">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-rosa" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
