<footer class="footer text-center py-3 overflow-hidden">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                    <p class="mb-1 mr-2">Campus Dog</p>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/campus.dog/"  target=”_blank” class="mx-2" aria-label="Instagram">
                            <i class="fab fa-instagram fa-lg"></i> Instagram
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <p class="mb-0 text-light">&copy; 2024 Campus Dog. Todos os direitos reservados.</p>
            </div>
        </div>
</footer>
